@font-face {
    font-family: "karla";
    src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}
@font-face {
    font-family: "karla-italic";
    src: url("../fonts/Karla/Karla-Italic-VariableFont_wght.ttf");
}

/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    font-family: "karla", Arial, Helvetica, sans-serif;
    padding: 40px 40px 0 40px;
}

/* ! HEADER */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.navigation nav {
    display: flex;
    gap: 60px;
    font-size: 10px;
}

/* ! MAIN */

.compartment-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "top-product top-product top-product"
        "first-product second-product third-product"
        "fourth-product fifth-product sixth-product";
    gap: 20px;
}

.top-product {
    grid-area: top-product;
}

.first-product {
    grid-area: first-product;
}
.second-product {
    grid-area: second-product;
}
.third-product {
    grid-area: third-product;
}
.fourth-product {
    grid-area: fourth-product;
}
.firth-product {
    grid-area: fifth-product;
}
.fourthfourth-product {
    grid-area: first-product;
}

.price::before {
    content: "$";
}

.price::after {
    content: ".00";
}

.product-info {
    display: flex;
    flex-direction: column;
}

.price {
    align-self: flex-end;
    margin-top: -35px;
    font-size: clamp(11px, 2.5vw, 15px);
}

.compartment-product > section {
    font-size: clamp(11px, 2.5vw, 15px);
}

section a img {
    margin-bottom: 20px;
}
.product-name {
    font-size: clamp(11px, 2.5vw, 15px);
}

.manufacturer {
    font-size: clamp(11px, 2.5vw, 15px);
    color: #848484;
}

section a div {
    margin-bottom: 20px;
}

img:hover {
    opacity: 0.6;
}

main div section:nth-of-type(6) {
    margin-bottom: 40px;
}

/* ! FOOTER */

.footer-compartment {
    display: flex;
    justify-content: space-between;
}

.footer-compartment h5 {
    font-size: clamp(10px, 2.5vw, 13px);
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-compartment p {
    font-size: clamp(9px, 2.5vw, 12px);
}

.footer-compartment span {
    font-weight: bold;
}

.italic-font {
    font-family: karla-italic;
}

a {
    font-size: 10px;
    color: #323a45;
}

.shop {
    flex-basis: 40%;
}
.contact {
    flex-basis: 20%;
}

.newletter {
    flex-basis: 20%;
}

.copyright {
    font-size: 10px;
    color: #848484;
}

@media only screen and (max-width: 992px) {
    .compartment-product {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "top-product top-product"
            "first-product second-product"
            "third-product fourth-product"
            "fifth-product sixth-product";
        gap: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .compartment-product {
        grid-template-columns: 1fr;
        grid-template-areas:
            "top-product"
            "first-product"
            "second-product"
            "third-product"
            "fourth-product"
            "fifth-product"
            "sixth-product";
        gap: 20px;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation nav {
        gap: 10px;
        font-size: 8px;
    }

    main div section:nth-of-type(6) {
        margin-bottom: 0px;
    }

    section a img {
        margin-bottom: 10px;
    }

    .price {
        margin-top: -25px;
    }

    .top-product {
        margin-top: 15px;
    }

    .footer-compartment {
        flex-direction: column;
        gap: 40px;
    }

    .footer-compartment h5 {
        margin-bottom: 5px;
    }
}
